$widthContainer: 1256px;
$baseBackground: #1f1f1f;
$baseColor: #fff;

$secondColor: #c4c4c4;
$subBackground: #313131;

// icon
$startColor1: #f5c518;
$startColor2: #5799ef;
$popularityColor: #67ad4b;
