@import url(https://fonts.googleapis.com/css2?family=Material+Icons);
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #fff;
}
* a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
* a:focus {
  outline: none;
}
* p,
* span {
  color: inherit;
}

.container {
  width: 1256px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .slider {
  margin: 0 20px;
}

.btn {
  padding: 8px 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.header {
  width: 100%;
  height: 56px;
  padding: 12px 0;
  background-color: #121212;
}
.header__logo {
  width: fit-content;
  display: flex;
}
.header__logo > img {
  width: 64px;
}
.header__menu {
  display: flex;
  align-items: center;
  margin-left: 18px;
  margin-right: 25px;
  text-transform: capitalize;
}
.header__menu > i {
  color: #919191;
}
.header__menu > span {
  margin-left: 7px;
}
.header__search {
  display: flex;
  align-items: center;
  position: relative;
  flex: 1;
  margin-right: 32px;
}
.header__search > .filter {
  width: 51px;
  background-color: #fff;
  display: flex;
  align-items: center;
  height: 100%;
  color: #000;
  border-radius: 4px 0px 0px 4px;
  padding: 8px;
}
.header__search > .filter p,
.header__search > .filter i {
  color: inherit;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}
.header__search > input {
  padding: 8px;
  padding-right: 55px;
  width: 100%;
  border-radius: 0px 4px 4px 0px;
  border: none;
}
.header__search > .search {
  position: absolute;
  top: 50%;
  right: 10px;
  color: #919191;
  transform: translate(0, -50%);
  height: fit-content;
  display: flex;
}
.header__pro {
  margin-left: 32px;
}
.header__watch {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 14px;
}
.header__watch > i {
  color: #919191;
  font-weight: normal;
}
.header__watch > p {
  color: #121212;
  background: #f5c518;
  padding: 2px 7px;
  border-radius: 10px;
  font-size: 12px;
  line-height: 14px;
}
.header__user {
  display: flex;
  align-items: center;
  margin-left: 28px;
  gap: 8px;
}

.top-film {
  padding: 24px 0 20px;
  background-color: #1f1f1f;
}
.top-film .film-name > .name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
}
.top-film .film-name > .more {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #c4c4c4;
  margin-top: 8px;
  display: flex;
  gap: 18px;
}
.top-film .film-name > .more p,
.top-film .film-name > .more span {
  color: inherit;
}
.top-film .film-score {
  display: flex;
  align-items: flex-start;
  gap: 35px;
}
.top-film .film-score > .imdb-rating,
.top-film .film-score .your-rating,
.top-film .film-score .popularity {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #c4c4c4;
  text-align: center;
  letter-spacing: 1.2px;
}
.top-film .film-score > .imdb-rating i {
  color: #f5c518;
}
.top-film .film-score > .imdb-rating p {
  text-align: left;
}
.top-film .film-score > .your-rating i {
  color: #5799ef;
}
.top-film .film-score > .popularity i {
  color: #67ad4b;
}
.top-film .film-score .score {
  margin-top: 5px;
  display: flex;
  justify-content: flex-start;
  gap: 8px;
}
.top-film .film-score .score > .percent > .first {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}
.top-film .film-score .score > .percent > .second {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #c4c4c4;
}

.slide-share {
  background-color: #1f1f1f;
}
.slide-share > .container {
  padding: 16px;
  background-color: #313131;
  justify-content: flex-end;
  border-radius: 4px;
  height: 48px;
}
.slide-share > .container ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 18px;
  margin-right: 24px;
}
.slide-share > .container ul li {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}
.slide-share > .container .all-topic {
  display: flex;
  align-items: center;
  gap: 7px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}
.slide-share > .container .slider {
  margin: 0 16px;
}

.gallery {
  background-color: #1f1f1f;
  padding: 16px 0 24px;
}
.gallery .container {
  display: grid;
  grid-template-columns: 284fr 747fr 217fr;
  gap: 5px 4px;
  grid-template-areas: "banner trailer video" "banner trailer photo";
  align-items: start;
  justify-items: stretch;
  overflow: hidden;
  height: 421px;
}
.gallery .container .banner {
  grid-area: banner;
  position: relative;
}
.gallery .container .banner .bookmark {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.gallery .container .trailer {
  grid-area: trailer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.gallery .container .trailer .play-group {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 16px;
  height: 120px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
}
.gallery .container .trailer .play-group .btn-play {
  width: 64px;
  height: 64px;
  background-image: url(../imgs/play-trailer-icon.png);
  background-repeat: no-repeat;
}
.gallery .container .trailer .play-group .btn-play:hover {
  background-image: url(../imgs/play-trailer-icon-hover.png);
}
.gallery .container .videos,
.gallery .container .photos {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background-color: #313131;
}
.gallery .container .videos > span,
.gallery .container .photos > span {
  margin-top: 12px;
}

.more-info {
  background-color: #1f1f1f;
  padding-bottom: 24px;
}
.more-info .slider {
  margin: 12px 0;
}
.more-info .container {
  display: grid;
  grid-template-areas: "first second";
  grid-template-columns: 58.12fr 34.79fr;
  gap: 89px;
}
.more-info .container .first-column > .category {
  display: flex;
}
.more-info .container .first-column > .category .btn-category {
  border-radius: 16px;
  border: 2px solid #c4c4c4;
}
.more-info .container .first-column > .description-short {
  margin-top: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: justify;
}
.more-info .container .first-column > .director,
.more-info .container .first-column .writers,
.more-info .container .first-column .starts,
.more-info .container .first-column .pro {
  display: flex;
}
.more-info .container .first-column > .director > p:first-of-type,
.more-info .container .first-column .writers > p:first-of-type,
.more-info .container .first-column .starts > p:first-of-type,
.more-info .container .first-column .pro > p:first-of-type {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  margin-right: 12px;
}
.more-info .container .first-column > .director a,
.more-info .container .first-column .writers a,
.more-info .container .first-column .starts a,
.more-info .container .first-column .pro a {
  color: #5799ef;
}
.more-info .container .first-column .writers {
  flex-direction: column;
}
.more-info .container .first-column .writers span {
  color: #c4c4c4;
}
.more-info .container .first-column .pro {
  align-items: center;
  font-weight: 400;
}
.more-info .container .first-column .pro img {
  margin-right: 10px;
}
.more-info .container .first-column .pro i {
  font-size: 14px;
  margin-left: 10px;
}
.more-info .container .second-column {
  height: 100%;
}
.more-info .container .second-column .drop-down,
.more-info .container .second-column .viewer {
  display: flex;
  align-items: center;
}
.more-info .container .second-column .drop-down {
  border-radius: 4px;
  overflow: hidden;
  background-color: #313131;
  justify-content: space-between;
  padding: 12px 12px 12px 8px;
}
.more-info .container .second-column .drop-down > .select-current,
.more-info .container .second-column .drop-down .btn-drop-down {
  display: flex;
  align-items: center;
}
.more-info .container .second-column .drop-down .select-current > span {
  margin-left: 4px;
}
.more-info .container .second-column .drop-down .btn-drop-down {
  padding: 0;
}
.more-info .container .second-column .viewer {
  display: flex;
  gap: 16px;
  margin-top: 22px;
}
.more-info .container .second-column .viewer > .item {
  color: #5799EF;
  display: flex;
  align-items: center;
}
.more-info .container .second-column .viewer > .item > p {
  font-weight: bold;
}
.more-info .container .second-column .viewer > .item > span {
  margin-left: 4px;
  color: inherit;
}
.more-info .container .second-column .viewer > .item.meta > p {
  display: inline;
  padding: 2px;
  color: #fff;
  background-color: #54A72A;
}

/*# sourceMappingURL=render.css.map */
